[submodule "/themes/hugo-hero-theme"] 
  path = /themes/hugo-hero-theme
  url = git://url-of-source/
[submodule "hugo-hero-theme"]
	path = hugo-hero-theme
	url = https://github.com/zerostaticthemes/hugo-hero-theme
